* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

.flex {
    display: flex;
}

img {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    background-color: #182022;
}

.head {
    background-color: #fff;
}

.main-wrapper {
    background-color: #182022;
    width: 100%;
    margin: 0 auto;
}

.card {
    margin: 0;
    padding: 0;
}

/* .card-img {
    width: 100%;
    height: 1rem;
} */

.bb {
    border-bottom: 10px solid #fff;
}

.button {
    width: 180px;
    height: 52px;
    line-height: 50px;
    border-radius: 7px;
    border: 2px solid rgb(88, 88, 88);
    display: inline-block;
    background: #000;
    margin: 0;
    color: rgb(255, 255, 255);
}

.img-wrapper {
    height: 50%;
}

.card {
    background-color: #182022;
    padding-bottom: 50px;
}

.card img {
    object-fit: cover;
    /*画像が勝手にトリミングされるのが嫌な場合、containにしてください*/
    height: 100%;
    margin: 0 auto;
}

.two-rows .card {
    width: 50%;
    margin-right: 10px;
}

.two-rows .card:last-child {
    margin: 0;
}

.three-rows .card {
    width: calc(100% / 3);
    margin-right: 10px;
}

.three-rows .card:last-child {
    margin: 0;
}

.google img {
    width: 200px;
}

.google {
    text-align: center;
}

.wrapper-from-right {
    margin: 50px 0 0 10%;
    padding: 20px;
    background: #051013;
}

.wrapper-from-left {
    margin: 50px 10% 0 0;
    padding: 20px;
    background: #051013;
}

.wrapper-from-left-radius {
    margin: 50px 5% 0 0;
    padding: 20px;
    background: #051013;
    height: 200px;
    /*↓↓それぞれheightの半分*/
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
}

.wrapper-from-right-radius {
    margin: 50px 0 0 5%;
    padding: 20px;
    background: #051013;
    height: 200px;
    /*↓↓それぞれheightの半分*/
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}

.bg-trans,
.fa-globe-asia {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url("../images/title.png");
    background-size: contain;
    /* font-size: 4rem; */
    font-weight: bold;
}


footer {
    background-image: url("../images/footer.png");
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 50vw;

}

@media screen and (max-width:480px) {

    .two-rows,
    .three-rows {
        display: block;
    }

    .two-rows .card,
    .three-rows .card {
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 992px) {
    .line-text {
        font-size: 5rem;
    }
    .head-text {
        font-size: 4rem;
    }
    .bb {
        font-size: 6rem;
    }
}

@media (max-width: 991.98px) {
    .line-text {
        font-size: 4.0rem;
    }
    .head-text {
        font-size: 3.5rem;
    }
    .bb {
        font-size: 5rem;
    }
}

@media (max-width: 767.98px) {
    .line-text {
        font-size: 3.0rem;
    }
    .head-text {
        font-size: 3rem;
    }
    .bb {
        font-size: 4rem;
    }
}

@media (max-width: 575.98px) {
    .line-text {
        font-size: 2.0rem;
    }
    .head-text {
        font-size: 2.5rem;
    }
    .bb {
        font-size: 3rem;
    }
}